{% extends 'main/main.html' %}
{% load static %}

{% block content %}
<main>
    <h1 class="header_analytics_h1">Аналитика</h1>
    <!-- Analyses -->
    <div class="analyses_main">
        <div class="analyse">
            <div class="working">
                <div class="status_analytics">
                    <div class="info">
                        <h3>Работает людей</h3>
                        <h1>{{ employees_not_on_vacation_count }} из {{ total_employees }}</h1>
                    </div>
                    <div class="progresss">
                        <svg>
                            <circle cx="38" cy="38" r="36"></circle>
                            <circle class="progress" cx="38" cy="38" r="36"></circle>
                        </svg>
                        <div class="percentage">
                            <p>{{ working_employees }}%</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="average">
                <div class="status_analytics">
                    <div class="info">
                        <h3>Среднее количество отпускных дней</h3>
                    </div>
                    <div class="progresss">
                        <h1>{{ avg_vacation_days }} из 52</h1>
                    </div>
                </div>
            </div>
            <div class="canceled_holiday">
                <div class="status_analytics">
                    <div class="info">
                        <h3>Отклонено заявок</h3>
                        <h1>{{ canceled_count }} из {{ total_applications_count }}</h1>
                    </div>
                    <div class="progresss">
                        <svg>
                            <circle cx="38" cy="38" r="36"></circle>
                            <circle class="progress" cx="38" cy="38" r="36"></circle>
                        </svg>
                        <div class="percentage">
                            <p>{{ rejection_percentage }}%</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div>

        </div>

        <div class="analytics_graphics">
            <button id="prev" class="nav-button">❮</button>
            <div class="chart-container">
                <canvas id="chart1"></canvas>
                <canvas id="chart2" style="display: none;"></canvas>
                <canvas id="chart3" style="display: none;"></canvas>
            </div>
            <button id="next" class="nav-button">❯</button>
        </div>
    </div>
</main>
{% endblock %}

{% block script_analytics %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
document.addEventListener('DOMContentLoaded', function() {
    const commonOptions = {
        responsive: true,
        plugins: {
            tooltip: {
                callbacks: {
                    label: function(context) {
                        return context.raw;
                    }
                },
                backgroundColor: 'rgba(0, 0, 0, 0.7)',
                titleColor: '#fff',
                bodyColor: '#fff',
                borderColor: '#ddd',
                borderWidth: 1
            },
            legend: {
                labels: {
                    color: '#fff',
                    font: {
                        size: 24,
                        family: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif"
                    }
                }
            }
        },
        layout: {
            padding: {
                top: 50 // Отступ сверху для заголовка
            }
        },
        scales: {
            y: {
                beginAtZero: true,
                grid: {
                    color: 'rgba(200, 200, 200, 0.2)'
                },
                ticks: {
                    color: '#fff',
                    font: {
                        size: 12,
                        family: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif"
                    }
                }
            },
            x: {
                grid: {
                    color: 'rgba(200, 200, 200, 0.2)'
                },
                ticks: {
                    color: '#fff',
                    font: {
                        size: 12,
                        family: "'Helvetica Neue', 'Helvetica', 'Arial', sans-serif"
                    }
                }
            }
        }
    };

    const ctx1 = document.getElementById('chart1').getContext('2d');
    const chart1 = new Chart(ctx1, {
        type: 'bar',
        data: {
            labels: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
            datasets: [{
                label: 'Количество отпусков',
                data: {{ values1 }},
                backgroundColor: 'rgba(0, 175, 245, 0.7)',
                borderColor: '#00aff5',
                borderWidth: 2,
                hoverBackgroundColor: 'rgba(0, 175, 245, 0.9)'
            }]
        },
        options: commonOptions
    });

    const ctx2 = document.getElementById('chart2').getContext('2d');
    const chart2 = new Chart(ctx2, {
        type: 'line',
        data: {
            labels: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
            datasets: [{
                label: 'Средняя продолжительность (дни)',
                data: {{ values2 }},
                backgroundColor: 'rgba(0, 175, 245, 0.2)',
                borderColor: '#00aff5',
                borderWidth: 2,
                fill: true,
                pointBackgroundColor: '#00aff5',
                pointBorderColor: '#00aff5',
                pointHoverBackgroundColor: '#00aff5',
                pointHoverBorderColor: '#00aff5'
            }]
        },
        options: commonOptions
    });

    const ctx3 = document.getElementById('chart3').getContext('2d');
    const chart3 = new Chart(ctx3, {
        type: 'bar',
        data: {
            labels: ['Янв', 'Фев', 'Мар', 'Апр', 'Май', 'Июн', 'Июл', 'Авг', 'Сен', 'Окт', 'Ноя', 'Дек'],
            datasets: [{
                label: 'Количество запланированных отпусков (дни)',
                data: {{ values3 }},
                backgroundColor: 'rgba(0, 175, 245, 0.7)',
                borderColor: '#00aff5',
                borderWidth: 2,
                hoverBackgroundColor: 'rgba(0, 175, 245, 0.9)'
            }]
        },
        options: commonOptions
    });

    let currentChartIndex = 0;
    const charts = [chart1, chart2, chart3];
    charts.forEach((chart, index) => {
        if (index !== currentChartIndex) {
            chart.canvas.style.opacity = 0;
        }
    });

    document.getElementById('prev').addEventListener('click', () => {
        charts[currentChartIndex].canvas.style.opacity = 0;
        setTimeout(() => {
            charts[currentChartIndex].canvas.style.display = 'none';
            currentChartIndex = (currentChartIndex - 1 + charts.length) % charts.length;
            charts[currentChartIndex].canvas.style.display = 'block';
            setTimeout(() => {
                charts[currentChartIndex].canvas.style.opacity = 1;
            }, 10);
        }, 500);
    });

    document.getElementById('next').addEventListener('click', () => {
        charts[currentChartIndex].canvas.style.opacity = 0;
        setTimeout(() => {
            charts[currentChartIndex].canvas.style.display = 'none';
            currentChartIndex = (currentChartIndex + 1) % charts.length;
            charts[currentChartIndex].canvas.style.display = 'block';
            setTimeout(() => {
                charts[currentChartIndex].canvas.style.opacity = 1;
            }, 10);
        }, 500);
    });

    // Update progress circles
    const circles = document.querySelectorAll('.progress');
    circles.forEach(circle => {
        const percentage = parseFloat(circle.parentElement.nextElementSibling.querySelector('p').textContent.trim().replace('%', ''));
        const radius = circle.r.baseVal.value;
        const circumference = 2 * Math.PI * radius;
        const offset = circumference - (percentage / 100) * circumference;
        circle.style.strokeDasharray = `${circumference} ${circumference}`;
        circle.style.strokeDashoffset = offset;
    });
});
</script>
{% endblock %}
