{% extends 'main/main.html' %}
{% load static %}

{% block content %}
    <main>
        <div class="header_departments">
            <h1 class="header_departments_h1">Список отделов</h1>
            <h3>Всего отделов: {{ departments_count }}</h3>
        </div>

        <div class="staff_main">

            <div class="staff_table">
                <table>
                    <thead>
                        <tr>
                            <th>Номер отдела</th>
                            <th>Название отдела</th>
                            <th>Дата добавления</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for department in departments %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ department.name }}</td>
                            <td>{{ department.date_added }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </main>
{% endblock %}

{% block script_departments %} 

{% endblock %}