{% url 'schedule_change_reject' change_request.id as schedule_change_reject_url %}
{% url 'schedule_change_approve' change_request.id as schedule_change_approve_url %}
{% include 'includes/leave_detail/leave_detail_actions.html' with action_label=schedule_change_action_label can_approve=can_approve_schedule_change reject_url=schedule_change_reject_url approve_url=schedule_change_approve_url reject_button_label=schedule_change_reject_label approve_button_label=schedule_change_approve_label decision_state=schedule_change_decision_state decision_state_icon=schedule_change_decision_state_icon %}
