.header_analytics_h1{
    margin-bottom: 1rem;
}

.analyses_main{
    display: grid;
    width: 100%;
    gap: 1.8rem;
    grid-template-columns: auto 23rem;
}

.analyse{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.6rem;
}

.analyse > div{
    background-color: var(--color-background-panel);
    padding: 1.5rem 1rem;
    border-radius: var(--border-radius-1);
    box-shadow: 0 1.6rem 2.8rem rgba(0, 0, 0, 0.26);
    transition: all 0.3s ease;
}

.analyse > div:hover{
    box-shadow: 0 1.6rem 2.8rem rgba(0, 0, 0, 0.26);
}

.analyse > div .status_analytics{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.analyse > div .status_analytics .info{
    max-width: 125px;
}

.analyse h3{
    font-size: 1rem;
}

.analyse .progresss{
    position: relative;
    width: 92px;
    height: 92px;
    border-radius: 50%;
}

.average .status_analytics .progresss{
    display: flex;
    align-items: center;
    width: auto;
}

.average .status_analytics .progresss h1{
    position: relative;
}

.average .status_analytics .progresss h1:before{
    display: block;
    position: absolute;
    bottom: 0;
    content: '';
    width: 100%;
    height: 2px;
    background-color: var(--orange-light-color);
    border-radius: var(--border-radius-1);
}

.analyse svg{
    width: 7rem;
    height: 7rem;
}

.analyse svg circle {
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

.analyse .working svg circle{ /* для работающих */
    stroke: var(--color-background);
}

.analyse .working .progress {
    stroke: var(--green-light-color);
    stroke-dasharray: 226.195;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.5s ease;
}

.analyse .working .percentage p{
    color: var(--green-light-color);
}

.analyse .canceled_holiday svg circle{ /* для отклоненных */
    stroke: var(--color-background);
}

.analyse .canceled_holiday .progress {
    stroke: var(--color-danger);
    stroke-dasharray: 226.195;
    stroke-dashoffset: 0;
    transition: stroke-dashoffset 0.5s ease;
}

.analyse .canceled_holiday .percentage p{
    color: var(--color-danger);
}

.analyse .progresss .percentage{
    position: absolute;
    top: -3px;
    left: -1px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

/* css для графиков аналитики */

.analytics_graphics{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    gap: 10px;
    background-color: var(--color-background-panel);
    border-radius: var(--border-radius-1);
    box-shadow: 0 1.6rem 2.8rem rgba(0, 0, 0, 0.26);
    transition: all 0.3s ease;
    padding: 10px; /* Добавим padding чтобы график не перекрывался кнопками */
}

.analytics_graphics:hover{
    box-shadow: 0 1.6rem 2.8rem rgba(0, 0, 0, 0.26);
}

.analytics_graphics > div{
    position: relative;
    min-width: 100%;
    scroll-snap-align: center;
}

.analytics_graphics_1 h2{
    position: absolute;
    top: 5%;
    left: 32%;
}

.analytics_graphics div h2{
    display: flex;
    margin: auto;
}

.analytics_graphics div img{
    display: flex;
    margin: auto;
}

.chart-container {
    position: relative;
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

canvas {
    transition: opacity 0.5s ease-in-out; /* Плавная анимация */
}

.nav-button {
    background-color: var(--color-background-panel);
    border: none;
    color: #fff;
    font-size: 2rem;
    cursor: pointer;
    padding: 0.5rem 1rem;
    z-index: 10;
    transition: background-color 0.3s ease;
}

.nav-button:hover {
    background-color: var(--color-background-dark);
}

#prev {
    left: 0;
}

#next {
    right: 0;
}
